/*
@font-face{
	font-family: 'Comic Sans Local';
	src: url("comicsans/COMIC.TTF");
}
.comic {
	font-family: "Comic Sans Local";
}
*/
body{
	background-color: black;
}
h1{
	color: black;
	font-family: 'Arial';
	font-size: 300%;
}
h2{
	color: black;
	font-family: 'Arial';
	font-size:200%;
}
h3{
	color:  black;
	font-family: 'Arial';
	font-size: 150%;
}
p{
	color: black;
	font-family: 'Arial';
	font-size: 100%;
}

